@use 'variables';

body{
    // font-family: 'Fraunces', serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-size: variables.$font-size-paragraph;
     
    .wrapper{
        width: 100%;
        height: 99.6vh;
        background-color: variables.$very-dark-blue;
        // background-image: url(../design/mobile-design.jpg);
        // background-repeat: no-repeat;
        // background-position: center;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        .product_substrate{
            border: 1px solid gainsboro;
            width: inherit;
            height: inherit;
            padding: 0%;
            background-color: variables.$cream;
            // background-color: rgba(59, 215, 12, 0.173);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .product_content{
                width: 90%;
                height: 92%;
                border-radius: 10px;
                // background-color: rgba(165, 42, 42, 0.364);
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .product_picture{
                    width: 100%;
                    height: 40%;
                    background-image: url(/images/image-product-mobile.jpg);
                    background-size: cover ;
                    border-top-left-radius: 10px ;   
                    border-top-right-radius: 10px;
                    img{
                        width: 100%;
                    }
                }
                .second_part{
                    width: 100%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    .product_category{
                        width: 85%;
                        height: 6%;
                        // background-color: rgba(255, 140, 0, 0.321);
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: end;
                        margin-left: 0%;
                        letter-spacing: 3.5px;
                        color: grey;
                        font-size: 12px;
                        margin-bottom: 0%;
                    }
                    .product_name{
                        width: 85%;
                        height: 18%;
                        // background-color: rgba(255, 0, 255, 0.299);
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: 125%;
                        line-height: 0.99; 
                        font-family: 'Fraunces', serif;
                        font-size: 110%;
                    }
                    .product_description{
                        width: 85%;
                        height: 20%;
                        // background-color: rgba(255, 255, 0, 0.427);
                        font-size: 14.5px;
                        line-height: 1.5;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        // font-size: 100%;
                        color: grey;
                    }
                    .product_price{
                        width: 90%;
                        height: 8%;
                        // background-color: rgba(255, 99, 71, 0.39);
                        margin-left:  5%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 2%;

                        .real_price{
                            font-size: 32px;
                            font-weight: bold;
                            font-family: 'Fraunces', serif;
                            // font-family: 'Montserrat', sans-serif;
                            color: variables.$dark-cyan;
                        }
                        .prev_price{
                            margin-left: 18px;
                            color: grey;
                        }
                    }
                    .product_purches{
                        width: 90%;
                        height: 50px;
                        // background-color: rgba(0, 0, 255, 0.255);
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        margin-bottom: 2%;
                        
                        .add_to_cart{
                            width: 95%;
                            height: 100%;
                            border-radius: 10px;  
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            font-size: 16px;   
                             
                            background-color: variables.$dark-cyan;
                            border: 0px; 
                            cursor: pointer;
                            color: #fff;
                            // font-weight: bold;                 
                        }
                        .add_to_cart:hover{
                            background-color: hsl(158, 38%, 21%);
                        }
                        
                }
            }
        }
        }
    }

    @media (min-width: 768px) and (max-width:991px){
     
        .w.wrapper{
            margin: 0;
            padding: 0;
             background-color: variables.$cream;
             .product_substrate{
                
                 width: inherit;
                 min-height: inherit;
                 
                 .product_content{
                     width: 45%;
                     height: 40%;
                     display: flex;
                     flex-direction: row;
                     justify-content: flex-start;
                     align-items: center;
                     .product_picture{
                         width: 50%;
                         height: 100%;
                         background-image: url(../images/image-product-desktop.jpg);
                         background-size: cover ;
                         border-top-left-radius: 10px ;   
                         border-bottom-left-radius: 10px;
                         border-top-right-radius: 0px ;   
                         img{
                             width: 100%;
                         }
                     }
                     .second_part{
                         width: 50%;
                         height: 100%;
                         display: flex;
                         flex-direction: column;
                         justify-content: space-around;
                         align-items: center;
                         .product_description{                            
                             font-size: 12px;                            
                         }
                         .product_purches{
                             width: 90%;
                             height: 12%;
                             border-radius: 3px;
                         }
                     }
             }
         
     }
 }
    

    }
    @media (min-width: 991px)  {
        
        .wrapper{
           margin: 0;
           padding: 0;
            background-color: variables.$cream;
            .product_substrate{
               
                width: inherit;
                min-height: inherit;
                
                .product_content{
                    width: 40%;
                    height: 40%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    .product_picture{
                        width: 50%;
                        height: 100%;
                        background-image: url(../images/image-product-desktop.jpg);
                        background-size: cover ;
                        border-top-left-radius: 10px ;   
                        border-bottom-left-radius: 10px;
                        border-top-right-radius: 0px ;   
                        img{
                            width: 100%;
                        }
                    }
                    .second_part{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        .product_description{                            
                            font-size: 12px;                            
                        }
                        .product_purches{
                            width: 90%;
                            height: 12%;
                            border-radius: 3px;
                        }
                    }
            }
        }
    }
}

}